**.DS_Store
**#*#

sublime_user_conf/Package\ Control*
sublime_user_conf/*crt

karabiner/automatic_backups/

# vscode
/vscode-user/globalStorage
/vscode-user/workspaceStorage
/vscode-user/sync/*

# nodejs
/**/node_modules

# fish plugin
/fish/functions/

/vim/.netrw*
/vim/sessions/

**/*lock*

/alacritty/alacritty.yml.*.bak


scripts/lib/
