snippet link "Link to something"
[${1:name}](`!v @*`)$0
endsnippet

snippet img "Image"
![${1:pic alt}](`!v @*` $0)
endsnippet

snippet code "code block" b

\`\`\`${1:language}
$0
\`\`\`
endsnippet

snippet pandoc_head "pandoc head"
---
title: ${1}
author: ${2}
date:${3}
toc-title: 目录
toc: 1
keywords:
- ${4:key word}
description: |
	${5}
...
endsnippet

snippet blank_line "blank line" b
<!-- -->
$0
endsnippet
	
