snippet ctbl  create table
	CREATE TABLE ${1:database_name.}${2:table_name}(
	   ${3:column1} ${4:datatype}  PRIMARY KEY ${5:AUTOINCREMENT} NOT NULL
	);

snippet dtbl delete table
	DROP TABLE ${1:database_name.}${2:table_name};

snippet	itbl insert into table
	INSERT INTO ${1:table_name}
		(${2:column1, column2,})]
		VALUES (${3:value1, value2);

snippet stbl select
	SELECT ${1:column1} FROM ${2:table_name};	
