{% for group in hostgroup %}
{% if group._commant is defined %}
# {{ group._commant }} {{ '{{{1' }}
{% endif %}
	{% for host in group.hosts %}
		{% if group.host_prefix %}
Host {{ group.host_prefix }}.{{ host }}
		{% else %}
Host {{ host }}
		{% endif %}
		{% if group.hostname %}
    Hostname {{host }}
		{% endif %}
		{% for c in group.global %}
    {{c}}
		{% endfor %}

	{% endfor %}
{% if group._commant is defined %}
{{ '#}}}' }}
{% endif %}
{% endfor %}
{{ '# vim: fdm=marker' }}
